<p id="notice"><%= notice %></p>

<p>
  <strong>Direction:</strong>
  <%= @dte_direction.direction %>
</p>

<p>
  <strong>User:</strong>
  <%= @dte_direction.user %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @dte_direction.direction %>
</p>

<%= link_to 'Edit', edit_dte_direction_path(@dte_direction) %> |
<%= link_to 'Back', dte_directions_path %>
