<!DOCTYPE html>
<html>
  <head>
    <title>TakoFusionapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  </head>

  <body>         
<div class="color">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
          <ul class="nav navbar-nav">
                <li> <%=link_to 'Inicio', root_path %> </li>
                <li> <%=link_to 'Nosotros', page_about_path %> </li>
                <li> <%=link_to 'Contacto', page_contact_path %> </li>
                <li> <%=link_to 'Delivery', products_path %> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li> <a href=""><%= current_user.email %></a></li> 
            <%if current_user.image.present?%>
             <li> <a href=""><%= image_tag(current_user.image,size: "25")%></a> </li> 
               <%end%>
              <li><%= link_to 'Desconectar', destroy_user_session_path, method: :delete%></li> 
             <%else%>
            <li><%= link_to 'Iniciar Sesion', new_user_session_path%></li> 
            <li><%= link_to 'Registrar', new_user_registration_path%></li>
             <%end%>          
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
  <!-- Nav bar -->
  
<div id="main_wrap">
   <div id="header" style="height: 270px !important;">
        <div class="bg-overlay"></div>
        <div class="center text-center">
            <div class="banner">
              <%= image_tag("logo2.png", style: 'max-height: 20%; max-width: 20%;' ) %>
            </div>
            <div class="subtitle"><h4>La mejor fusión Peruano-Oriental</h4></div>
        </div>
     </div>


       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
    <div class="Derecha">
      <%= yield %>
  </div>
    </div>
    <div class="col-md-3">
    <div class="CarritoCompra" >
   
    <br>
    <h3> Carrito de Compra</h3>
    <br>
    <div id="carrito">
      <%if session[:cart] == nil %> 
        <p>No hay productos en el carro </p>
      <%else%>
        <%session[:cart].each do |prod|%> 
           <button id="delete"  class="btn btn-warning" type="button" data-id="<%= prod['id']%>"> x</button>
          <%= image_tag prod["image"], style: 'max-height: 20%; max-width: 20%;'%>
          <p>Nombre: <%= prod["title"]%></p> 
          <p>Precio: <%= prod["price"]%></p> 
          <p>Cantidad: <%= prod["quantity"]%></p>
         
        <% end%> 
      
      <% end %> 
   </div>
  </div>
  </div>
  </div>
</div>
 <footer class="piedepagina">
        <div >
            <div class="row">
                <div class="col-sm-6">
                    &copy; Copyright Tako Fusion.
                </div>
                <div class="col-sm-6">
                    <div class="social-bar">
                        <a href="https://www.instagram.com/takofusion/" class="fa fa-instagram tooltipped" title=""></a>
                        <a href="https://www.facebook.com/takofusion/" class="fa fa-facebook-square tooltipped" title=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>
    <div id="fb-root"></div>

<script>
$(function(){

  $("button#add").click(function(){
    var id = $(this).data("id");
    console.log(id);
    $.ajax({
         url:'http://localhost:3000/cart/add',
         method: 'POST',
         data: {
            id:id
         },
         dataType: 'json',
         beforeSend: function (xhr) {       
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));   
         console.log($('meta[name="csrf-token"]').attr('content'));         
         },
         success: function (data) {
          var str ="";
             $.each(data.carrito,function(index,item){
              str += '<button id="delete"  class="btn btn-warning" type="button" data-id="'+ item.id +'"> x</button>'+'<p><img style="max-height: 20%; max-width: 20%;" src="'+item.image+'"></p> <P>nombre: ' + item.title + '</P><P>nombre: ' + item.price + '</P><P>nombre: ' + item.quantity + '</P>';
             console.log(item);  
             }); 
          $("#carrito").html(str);
         },
         error: function (xhr) {          
          console.log(xhr);
         }
     });
  });
  $('div#carrito').on('click', 'button#delete', function() {
    var id = $(this).data("id");
    $.ajax({
         url:'http://localhost:3000/cart/delete',
         method: 'POST',
         data: {
            id:id
         },
         dataType: 'json',
         beforeSend: function (xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
         console.log($('meta[name="csrf-token"]').attr('content'));
         },
         success: function (data) {
          var str ="";
             $.each(data.carrito,function(index,item){

               if (item.length < 1){
                 str = '<p>No hay productos en el carro </p>'
               }else {
                 str += '<button id="delete"  class="btn btn-warning" type="button" data-id="'+ item.id +'"> x</button>'+'<p><img style="max-height: 20%; max-width: 20%;" src="'+item.image+'"></p>  <P>nombre: ' + item.title + '</P><P>nombre: ' + item.price + '</P><P>nombre: ' + item.quantity + '</P>';
               }
             console.log(item);
             });
          $("#carrito").html(str);
         },
         error: function (xhr) {
          console.log(xhr);
         }
     });
  });
});
</script> 
</body>
</html>
